################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config/applicationhost.config
/.vs/EPUWeb/v15
/EPUWeb/bin
/EPUWeb/obj/Debug
/packages
/EPUNEWS.rar
