################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs/EPUWeb/v15/Server/sqlite3
