
<footer>
    <div class="main_footer__block pb-0 pt-60">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer_box__block">
                        <h4>BẢN ĐỒ CHỈ DẪN</h4>
                        <p>Đại học điện lực.</p>
                        <a href="https://www.google.com/maps/place/Electric+Power+University/21.0470536,105.7830134,17z/data=!3m1!4b1!4m5!3m4!1s0x3135ab325960d0dd:0x721c9888e25aa2bf!8m2!3d21.0470486!4d105.7852021"> 
                        <img src="~/Content/images/mapepu.png" width="90" height="90"> </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer_box__block">
                        <h4>Mạng xã hội</h4>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer_box__block">
                        <h4>Đơn vị</h4>
                        <ul>
                            <li><a href="#">Khoa đào tạo</a></li>
                            <li><a href="#">Phòng ban - trung tâm</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer_box__block address-box">
                        <h4>Thông tin liên lạc</h4>
                        <ul>
                            <li>
                                <i class="fa fa-pinterest "></i>
                                <p>Địa chỉ: 235 Hoàng Quốc Việt, Hà Nội. </p>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <p>Điện thoại: +56 (0) 012 345 6789</p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
