
<header class="header__block">
    <div class="top-part__block ptb-15" style="background-color: #4078af; ">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul style=" text-align: center;">
                        <li>
                            <a href="#!">Sinh viên |</a>

                        </li>
                        <li>
                            <a href="#!">Cán bộ, Giảng viên |</a>

                        </li>
                        <li>
                            <a href="#!">Cựu sinh viên |</a>
                        </li>
                        <li>
                            <a href="javascript:avoid(0);">Media </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="middel-part__block ptb-20">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <div class="logo">
                        <a href="index.html">
                            <img src="~/Content/images/logo-epu.jpg" style="float:left; height:70px; width:74px;" alt="Logo">
                        </a>

                    </div>
                </div>
                <div class="col-md-4">

                    <h3 style="text-align: center; color: #ee802f; font-family: -webkit-body;">BỘ CÔNG THƯƠNG</h3>
                    <h3 style="text-align: center; color: #4078af; font-family: -webkit-body;">TRƯỜNG ĐẠI HỌC ĐIỆN LỰC</h3>
                </div>
                <div class="col-md-7">
                    <div class="top-info__block text-right">
                        <ul style="display: grid;">
                            <li>
                                <a style="color:black;" href="#">Ngôn ngữ:</a>
                                <a href="#"><img src="~/Content/images/vi.gif" /></a>
                                <a href="#"><img src="~/Content/images/en.gif"></a>
                            </li>
                            <li>
                                <input type="text" style="width: 200px; height: 30px; border-color: lavenderblush;" placeholder="Tìm kiếm ...." title="Tìm kiếm...." id="tk" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navgation__block stricky-header__top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-menu__block">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand visible-xs" href="#">
                                <img src="~/Content/images/logo-moblie.jpg" style="height:60px; width:64px;" alt="">
                            </a>
                        </div>

                        <!--===Navigation===-->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav mobile-menu">
                                <li>
                                    <a href="index.html">
                                        <i class="fa fa-home"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="content-detail_GioithieuChung.html">Giới thiệu</a> <span class="submenu-button"></span>
                                    <ul class="dropdown-menu">
                                        <li> <a href="about.html">Thông tin khái quát</a> </li>
                                        <li> <a href="about2.html">Chức năng nhiệm vụ</a> </li>
                                        <li> <a href="about3.html">Ban giám hiệu</a> </li>
                                        <li> <a href="history.html">Cơ cấu tổ chức</a> </li>
                                        <li> <a href="career.html">Báo cáo ba công khai</a> </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="content-detail_Tuyensinh.html">Tuyển sinh</a> <span class="submenu-button"></span>
                                    <ul class="dropdown-menu">
                                        <li> <a href="courses.html">Đại Học</a> </li>
                                        <li> <a href="courses-details.html">Cao Học</a> </li>
                                        <li> <a href="courses.html">Nghiên cứu sinh</a> </li>
                                        <li> <a href="courses.html">Văn bằng 2</a> </li>
                                        <li> <a href="courses.html">Vừa học vừa làm</a> </li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="content-detail_Daotao.html">Đào tạo</a> <span class="submenu-button"></span>
                                    <ul class="dropdown-menu">
                                        <li> <a href="courses.html">Đại Học</a> </li>
                                        <li> <a href="courses-details.html">Cao Học</a> </li>
                                        <li> <a href="courses.html">Nghiên cứu sinh</a> </li>
                                        <li> <a href="courses.html">Văn bằng 2</a> </li>
                                        <li> <a href="courses.html">Vừa học vừa làm</a> </li>

                                    </ul>
                                </li>
                                <!--<li>
                                    <a href="index.html">
                                        <img src="~/Content/images/logo-epu.png" style="height:60px; width:100px;" alt="Logo">
                                    </a>
                                </li>-->
                                <li>
                                    <a href="content-detail_CacKhoa.html">Các khoa chuyên ngành</a> <span class="submenu-button"></span>
                                    <ul class="dropdown-menu">
                                        <li> <a href="blog.html">Hệ thống điện</a> </li>
                                        <li> <a href="blog-detail.html">Quản trị kinh doanh</a> </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="content-detail_Nghiencuu.html">Nghiên cứu</a> <span class="submenu-button"></span>
                                    <ul class="dropdown-menu">
                                        <li> <a href="event.html">Event</a> </li>
                                        <li> <a href="event-details.html">Event Details</a> </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:avoid(0);">Hợp tác</a> <span class="submenu-button"></span>
                                    <ul class="dropdown-menu">
                                        <li> <a href="portfolio-grid.html">Gallery Grid</a> </li>
                                        <li> <a href="portfolio-masonry.html">Gallery Masonry</a> </li>
                                        <li> <a href="portfolio-single.html">Gallery single</a> </li>
                                        <li> <a href="lecturers.html">Lecturers</a> </li>
                                        <li> <a href="lecturers2.html">Lecturers 2</a> </li>
                                        <li> <a href="lecturer-details.html">Lecturers Details</a> </li>
                                        <li> <a href="pricing.html">pricing</a> </li>
                                        <li> <a href="faq.html">Faq</a> </li>
                                        <li> <a href="register.html">Register</a> </li>
                                        <li> <a href="login.html">login</a> </li>
                                        <li> <a href="testimonial.html">Testimonials</a> </li>
                                        <li> <a href="404.html">404 Error</a> </li>
                                        <li> <a href="blank.html">blank</a> </li>
                                    </ul>
                                </li>
                                <li><a href="#">Liên hệ</a></li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>